.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .login-content {
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-content h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .login-content p {
    margin-bottom: 2rem;
    color: #666;
  }
  .pbutton {
    width: 45%;
  }
  .button-group {
    display: flex;
    justify-content: space-around;
  }
  .resetpassword{
    margin-left: 30%;
    margin-top:10%
  }
  .otp-box{display: flex; width: 200px;}
  .otp-box input{text-align: center;}
  .otp-box input:nth-child(1){margin-right: 5px;}
  .otp-box input:nth-child(2){margin:0px 5px;}
  .otp-box input:nth-child(3){margin:0px 5px;}
  .otp-box input:nth-child(4){margin-left: 5px;}
  .signin-card {width: 300px;margin: auto;margin-top: 25px;}
  .otp-wrapper{margin: 0rem 1.7rem;}

  .heading{
    margin-top: -14px;
  }
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }