<div class="login-container shadow-3" *ngIf="hiddentab" >
    <div class="login-content">
      <h2>Welcome!</h2>
      <div class="field mb-4">
        <span class="p-float-label" >
          <input
            id="float-input"
            type="email"
            [(ngModel)]="payload.email"
            pInputText
            required
            class="p-invalid width "
          />
          <label for="float-input">Email </label>
        </span>
      </div>
      <p>Please choose a  method:</p>
      <div class="button-group">
        <button pButton type="button" class="pbutton" label="ResetPassword" icon="pi pi-key" (click)="ResetPassword()"></button>
        <button pButton type="button" class="pbutton" label="Forget Password" icon="pi pi-lock" (click)="ChangePassword()"></button>
      </div>
    </div>
  </div>

   
    <div class="login-content resetpassword shadow-3"  *ngIf="isResetKey"  [style]="{ width: '20rem', height: '25rem'}">
   <div>
    <h1 class="heading">Welcome to Reset Password</h1>
   </div>
        <div class="field mb-4">
          <span class="p-float-label" >
            <input
              id="float-input"
              type="email"
              [(ngModel)]="payload.email"
              pInputText
              required
              class="p-invalid width "
            />
            <label for="float-input">Email </label>
          </span>
        </div>
        <div class="field mb-4">
          <span class="p-float-label" >
            <input
              id="float-input"
              type="email"
              [(ngModel)]="payload.oldPassword"
              pInputText
              required
              class="p-invalid width "
            />
            <label for="float-input">Old Password </label>
          </span>
        </div>
        <div class="field mb-4">
          <span class="p-float-label" >
            <input
              id="float-input"
              type="email"
              [(ngModel)]="payload.newPassword"
              pInputText
              required
              class="p-invalid width "
            />
            <label for="float-input">New newPassword </label>
          </span>
        </div>
        <button pButton type="button" class="pbutton" label="submit" icon="pi pi-key" (click)="ChangePassword()"></button>
    </div>
     

 
    <div class="login-content resetpassword shadow-3 align-items-center"  *ngIf="isChangeKey"  [style]="{ width: '20rem', height: '28rem'}">
      <div class="heading"><h2 >Forget password</h2></div>
      <div class="field ">
        <div class="field mb-4">
          <span class="p-float-label">
            <input
              id="float-input"
              type="email"
              [(ngModel)]="payload.email"
              pInputText
              required
              class="p-invalid width "
            />
            <label for="float-input">Email </label>
          </span>
        </div>
        <div class="field mb-4">
          <span class="p-float-label">
            <input
              id="float-input"
              type="email"
              [(ngModel)]="payload.email"
              pInputText
              required
              class="p-invalid width "
            />
            <label for="float-input">Reset Your password </label>
          </span>
        </div>
        <div class="p-fluid p-mt-4"> 
          <div class="mb-2 flex"><label for="LoginName" class="mr-3">OTP REQUEST:</label>
            <!-- <div class="field p-button-success  " >
              <button
                pButton
                type="button"
                label="SentOTP"
                class="otp_button"
                (click)="sentOtp()"
              ></button>
              </div>    -->
              <div class="field p-button-success  " >
                <button
                  pButton
                  type="button"
                  label="ResendOTP"
                  class="otp_button"
                  (click)="sentOtp()"
                ></button>
                </div>  
            </div>
          <div class="flex mb-2 ml-9">    
              <div class="otp-box mb-3  " >
                  <input type="text" autofocus required maxlength="1" name="otp1" id="otp1" pInputText class="p-inputtext-sm"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1 ');"
                   (input)="changeFocus(otp.firstDigit, 'otp2','otp1')"  autocomplete="off" [(ngModel)]="otp.firstDigit">
                  <input type="text" autofocus required maxlength="1" name="otp2" id="otp2" pInputText class="p-inputtext-sm"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1 ');"
                  (input)="changeFocus(otp.secondDigit, 'otp3','otp1')"  autocomplete="off" [(ngModel)]="otp.secondDigit">
                  <input type="text" autofocus required maxlength="1" name="otp3" id="otp3" pInputText class="p-inputtext-sm"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1 ');"
                  (input)="changeFocus(otp.thirdDigit, 'otp4','otp2')" autocomplete="off" [(ngModel)]="otp.thirdDigit">
                  <input type="text" autofocus required maxlength="1" name="otp4" id="otp4" pInputText class="p-inputtext-sm"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1 ');"
                  (input)="changeFocus(otp.fourthDigit, 'otp4','otp3')" autocomplete="off" [(ngModel)]="otp.fourthDigit">
          </div>  
          </div>  
      </div>
        <div class="flex justify-end">
          <p-toast></p-toast>
          <div class="field p-button-success ml-6">
            <button
              pButton
              type="button"
              label="submit"
              (click)="forgetPassword()"
            ></button>
          </div>
        </div>
      </div>

    </div>