
<div class="content_page_header shadow-2 flex justify-content-end flex-wrap">
  <div class="company_logo flex align-content-center mt-2">
    <a >
      <img src="./assets/Suvarna Logo1.png"  alt=""
    /></a>
   
  </div>
  <div  class="circle logoutlogo"  (click)="op.toggle($event)"  >
    <img src="../assets/user.png" alt="" class="logooo"
   />
 </div>
 <p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="panel-list">
      <ul>
        <li>
          <button pButton pRipple type="button" [routerLink]="changepassword" label="Change Password/forget password"
            class="p-button-link" icon="pi pi-key"></button>
        </li>
        
        <li>
          <button pButton pRipple type="button" (click)="navigation()"  label="Log Out" class="p-button-link"
            icon="pi pi-sign-out"></button>
        </li>
      </ul>
    </div>
  </ng-template>
</p-overlayPanel>
</div>
    <div class="menu_icon">
        <i class="fa-solid fa-bars"></i>
    </div>
 
  <div class="grid">
    <div class="col-2 position-fixed">
      <app-menulist></app-menulist>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>

  