.p-hight{
    height: 50px;
}
.circle {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the container circular */
    background-color: #f4eaea; /* Background color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-length{
    margin-top: -25px;
}

:host ::ng-deep.p-card .p-card-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: -16px;
  }
  .p-menu {
    width: 17.5rem;
  }