<!-- <p-card class="shadow-3"  [style]="{ width: '100%', height: '19%' }"> -->

    <h2 class="login_h3 mt-0">Dashboard</h2>   
<div class="flex flex-wrap">
          
 <p-card header="Users" class=" col-3" [style]="{ height: '70%' }" >
    <a href="dashboard/users"> <div class="flex justify-content-center flex-wrap p-length">
        <li class="circle">
            <i class="pi pi-users"></i>
        </li>
        <span class="ml-8 text-2xl">{{userCount}}</span>
     </div>       </a>  
 </p-card> 
 <p-card header="Product" class=" col-3" [style]="{ height: '70%' }" >
    <a href="dashboard/Products"> <div class="flex justify-content-center flex-wrap p-length">
       <li class="circle">
           <i class="pi pi-bitcoin"></i>
       </li>
       <span class="ml-8 text-2xl">{{productCount}}</span>
    </div>   </a>      
</p-card>
<p-card header="Employes" class=" col-3" [style]="{ height: '70%' }" >
    <a href="/dashboard/Employee"> <div class="flex justify-content-center flex-wrap p-length">
       <li class="circle">
           <i class="pi pi-users"></i>
       </li>
       <span class="ml-8 text-2xl">{{Employecount}}</span>
    </div>         </a>
</p-card>
<p-card header="Stock Items" class=" col-3" [style]="{ height: '70%' }" >
    <a href="/dashboard/stocks">  <div class="flex justify-content-center flex-wrap p-length">
       <li class="circle">
           <i class="pi pi-database"></i>
       </li>
       <span class="ml-8 text-2xl">89</span>
    </div>  </a>      
</p-card> 
</div>
      <div class="right_content_page">
              <div class="header_left">
                  <!-- <a href="./signup.html">Signup</a> -->
                  <div class="user_details">
                      <div class="login_field_user">
                          <i class="fa-solid fa-user"></i>
                      </div>
<!-- 
                      <div class="user_details_content">
                          <ul class="content_tabs">
                              <li class="guest_login">
                                  <label class="last_login">
                                      User Login :
                                  </label>
                                  <span class="last_login_time"> Guest User</span>
                              </li>

                          </ul>

                          <div class="log_out">
                              <a href="./log_in.html">Log Out</a>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>

          <div class="right_content_sub_page">
              <div class="content_page_body dashboard_body">

                  <div class="tile_contents">
      <!--                 <a href="./users.html" class="tiles">
                          <div class="tiles_icon">
                              <i class="pi-users"></i>
                          </div>
                          <div class="tiles_details">
                              <h3>Users</h3>
                              <div class="count">
                                  <span>{{userCount}}</span>
                              </div>
                          </div>
                      </a>

                      <a href="./products.html" class="tiles">
                          <div class="tiles_icon">
                              <i class="fa-brands fa-product-hunt"></i>
                          </div>
                          <div class="tiles_details">
                              <h3>Products</h3>
                              <div class="count">
                                  <span>{{productCount}}</span>
                              </div>
                          </div>
                      </a>

                      <a href="./employees.html" class="tiles">
                          <div class="tiles_icon">
                              <i class="fa-solid fa-user"></i>
                          </div>
                          <div class="tiles_details">
                              <h3>Employees</h3>
                              <div class="count">
                                  <span>{{Employecount}}</span>
                              </div>
                          </div>
                      </a>

                      <a href="./stocks.html" class="tiles">
                          <div class="tiles_icon">
                              <i class="fa-solid fa-layer-group"></i>
                          </div>
                          <div class="tiles_details">
                              <h3>Stock Items</h3>
                              <div class="count">
                                  <span>1000</span>
                              </div>
                          </div>
                      </a> -->
                      <!-- <div class="card flex justify-content-center">
                        <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
                    </div>
                    <div class="card">
                        <p-chart type="bar" [data]="data" [options]="options"></p-chart>
                    </div>
                    <div class="card">
                        <p-chart type="line" [data]="data" [options]="options"></p-chart>
                    </div> -->
                  </div>

                  <!-- <div class="other_content">

                      <div class="content_graph">
                          <div class="graph_buttons">
                              <button type="submit" class="active">Today</button>
                              <button type="submit">Yesterday</button>
                              <button type="submit">Last Week</button>
                              <button type="submit">This Week</button>
                              <button type="submit">Last Month</button>
                              <button type="submit">This Month</button>
                              <button type="submit">Last Year</button>
                              <button type="submit">This Year</button>
                          </div>

                          <div class="tile_contents">
                              <div class="tiles">
                                  <canvas id="myChart" style="width:100%;"></canvas>
                              </div>

                              <div class="tiles">
                                  <canvas id="myChart1" style="width:100%;"></canvas>
                              </div>

                              <div class="tiles">
                                  <canvas id="myChart2" style="width:100%;"></canvas>
                              </div>

                              <div class="tiles">
                                  <canvas id="myChart3" style="width:100%;"></canvas>
                              </div>

                              <div class="tiles">
                                  <canvas id="myChart4" style="width:100%;"></canvas>
                              </div>

                          </div>
                      </div>
                  </div> -->
              </div>
          </div>
       


<!-- </p-card> -->