<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loop Video</title>
</head>

<body>
    <div id="video-background">
      <video id="background-video" autoplay loop muted>
        <source src="../assets/welcome.mp4" type="video/mp4">
        
      </video>
    </div>

    <!-- <div class=" flex justify-content-between flex-wrap m-3">
      
    <p-button id="blinkingButton" label="Login"></p-button> 
    <p-button id="blinkingButton" label="sinup"></p-button>
</div> -->

    <script src="scripts.js"></script>
  </body>
  

</html>
