
<div class="card">
  <p-table
    [columns]="cols"
    [value]="USERS"
    [tableStyle]="{ 'min-width': '90rem' }"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    id="htmlData"
    #dt
    [scrollable]="true" scrollHeight="500px"  
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [paginator]="true"
    [globalFilterFields]="['name', 'email', 'phone']"
    [frozenValue]="lockedCustomers" 
  >

    <ng-template pTemplate="caption">
     
      <div class="flex">
        <div class="table-header">
            List of Users
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onInput($event)"
                placeholder="Global Search"
              />
            </span>
          </div>
        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
    </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="email"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="phone"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="name"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="email"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="phone"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="name"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="email"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="phone"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="phone"></p-columnFilter>
          </th>
      </tr>
    </ng-template>
    <ng-template  pTemplate="frozenbody" let-rowData let-columns="columns" let-index="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
            <button pButton pRipple type="button" [icon]="'pi pi-lock-open'" (click)="toggleLock(rowData,true,index)" class="p-button-sm p-button-text"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <button pButton pRipple type="button" [icon]="'pi pi-lock'" [disabled]="lockedCustomers.length >= 2" (click)="toggleLock(rowData,false,index)" class="p-button-sm p-button-text"></button>
        </td>
        </tr>
      </ng-template>
  </p-table>
</div>

<div class="col-md-4">
  <p-button (click)="openPDF()" label="Download PDF"></p-button>
</div>
