.login_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--basic_padding);
    box-shadow: var(--basic_xs_box_shadow);
    background-color: var(--white_color);
    width: 100%;
}

.company_logo img {
    width:10%;
}

.providing_logo {
    font-size: 26px;
    color: var(--login_theme_blue_color);
}

.header{
   
    height: 45px;
}

.content_page_footer{
    margin-top: 100%;
}
.menu_icon i {
    font-size: 20px;

    color: #494949;
}


:host ::ng-deep.p-menu {
padding: 0.25rem 0;
background: #ffffff;
color: #495057;
border: 1px solid #dee2e6;
border-radius: 6px;
width: 12.5rem;
height:28rem;
}

:host ::ng-deep.p-menu ul {
   
    font-size: 1.5rem;
}