<div class="content_page_header shadow-1">
    <div class="company_logo">
      <a href="./dashboard.html">
        <img src="./assets/Suvarna Logo1.png" alt=""
      /></a>
    </div>
  
    <div class="menu_icon">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
  <div>
    <div style="display: flex; justify-content: center">
      <p-card
        header="Login"
        class="shadow-5 login"
        [style]="{ width: '26rem', height: '33rem' }"
      >
        <div
          style="
            background-color: rgb(241, 39, 86);
            color: rgb(236, 230, 230);
            text-align: center;
          "
          *ngIf="isSuccessful"
        >
          {{ msg }}
        </div>
        <div class="mt-4 photo justify-content-center ml-8">
          <img
            src="../assets/loginicon.webp"
            alt=""
            height="150px"
            width="150px"
          />
        </div>
        <div class="field p-5 ml-3 mt-0">
          <div class="field mb-4">
            <span class="p-float-label">
              <input
                id="float-input"
                type="email"
                [(ngModel)]="payload.email"
                pInputText
                required
                class="p-invalid width "
              />
              <label for="float-input">Email</label>
            </span>
          </div>
  
          <div class="field mb-4">
            <span class="p-float-label">
              <!-- <p-password
                [(ngModel)]="payload.password"
                placeholder="Enter Password"
                maxLength="8"
                id="float-input"
                
                [feedback]="true"
                (keyup)="checkPasswordValidity()"
                promptLabel="Password"
                (input)="checkValidatePassword()"
                [toggleMask]="true" >
                <ng-template pTemplate="header">
                  <p>Must contain:</p>
                  <ul>
                    <li>
                      <i class="pi pi-check green"  *ngIf="hasUppercase"></i>
                      <i class="pi pi-times red" *ngIf="!hasUppercase"></i>
                      At least one uppercase letter (A-Z)
                    </li>
                    <li>
                      <i class="pi pi-check green"  *ngIf="hasLowercase"></i>
                      <i class="pi pi-times red" *ngIf="!hasLowercase"></i>
                      At least one lowercase letter (a-z)
                    </li>
                    <li>
                      <i class="pi pi-check green"  *ngIf="hasSymbol"></i>
                      <i class="pi pi-times red" *ngIf="!hasSymbol"></i>
  
                      At least one symbol (e.g., !@#$%^&*)   </li>
                    <li >
                      <i class="pi pi-check green"  *ngIf="hasNumber"></i>
                      <i class="pi pi-times red" *ngIf="!hasNumber"></i>
  
                      At least one number (0-9)</li>
                   
                 
                    <li >
                      <i class="pi pi-check"  *ngIf="payload.password.length == 8"></i>
                      <i class="pi pi-times" *ngIf="payload.password.length != 8"></i>
                      Minimum length 8
                  </ul>
                </ng-template>
              </p-password> -->
              <input type="password" pInputText  [(ngModel)]="payload.password"
              placeholder="Enter Password"
              maxLength="8"
              id="float-input"
              
              (keyup)="checkPasswordValidity()"
              promptLabel="Password"
              (input)="checkValidatePassword()"
             [pTooltip]="tooltipcontenet"  placeholder="Top" >
             <ng-template #tooltipcontenet>
              <p>Must contain:</p>
              <ul>
                <li>
                  <i class="pi pi-check green"  *ngIf="hasUppercase"></i>
                  <i class="pi pi-times red" *ngIf="!hasUppercase"></i>
                  At least one uppercase letter (A-Z)
                </li>
                <li>
                  <i class="pi pi-check green"  *ngIf="hasLowercase"></i>
                  <i class="pi pi-times red" *ngIf="!hasLowercase"></i>
                  At least one lowercase letter (a-z)
                </li>
                <li>
                  <i class="pi pi-check green"  *ngIf="hasSymbol"></i>
                  <i class="pi pi-times red" *ngIf="!hasSymbol"></i>
  
                  At least one symbol (e.g., !@#$%^&*)   </li>
                <li >
                  <i class="pi pi-check green"  *ngIf="hasNumber"></i>
                  <i class="pi pi-times red" *ngIf="!hasNumber"></i>
  
                  At least one number (0-9)</li>
               
             
                <li >
                  <i class="pi pi-check"  *ngIf="payload.password.length == 8"></i>
                  <i class="pi pi-times" *ngIf="payload.password.length != 8"></i>
                  Minimum length 8
              </ul>
            </ng-template>
              <!-- <span *ngIf="errorMsg" style="color: red">Invalid Password </span> -->
              <span *ngIf="!isValidPattern && payload.password !== ''" style="color: red">Password does not follow above the required pattern</span>
            </span>
          </div>
          <div class="formgrid grid">
            <div class="field col">
              <div class="captcha-box mb-1 mr-1 field col">
                {{ captchaCode }}
              </div>
              <i class="pi pi-replay ml-3" (click)="generateCaptcha()"></i>
              <div>
              <input
                id="captcha"
                type="text"
                class="width"
                pInputText
                [(ngModel)]="payload.userCaptcha"
                (input)="captchaChecking()"
                placeholder="Enter Captcha"
                name="captcha"
                maxlength="4"
                required
              />
            </div>
              <span *ngIf="isCaptureMessage">Invalid Captcha</span>
            </div>
          </div>
  
          <div class="flex justify-end">
            <p-toast></p-toast>
            <div class="field p-button-success ml-6">
              <button
                pButton
                type="button"
                label="Login"
                (click)="onSubmit()"
              ></button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  