/* div{
    margin: 0px;
    padding: 5px;
} */

.header{
    height: 45px;
}

.login_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--basic_padding);
    box-shadow: var(--basic_xs_box_shadow);
    background-color: lightblue;
    width: 100%;
}

.company_logo img {
    width:10%;
}


.providing_logo {
    font-size: 26px;
    color: var(--login_theme_blue_color);
}
